<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084558528972-i0eplvjjm9oe3eohj3tt466obhm1u5tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084558528972-i0eplvjjm9oe3eohj3tt466obhm1u5tl</string>
	<key>API_KEY</key>
	<string>AIzaSyBF8sOnjF4Ubtn0hb1wqmWuegOo9EH5esk</string>
	<key>GCM_SENDER_ID</key>
	<string>1084558528972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aksilont.MyNews</string>
	<key>PROJECT_ID</key>
	<string>mynews-6c3e1</string>
	<key>STORAGE_BUCKET</key>
	<string>mynews-6c3e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084558528972:ios:0cd69a0340514bd5e88d69</string>
</dict>
</plist>